@import "tailwindcss";

@font-face {
    font-family: "Test Söhne Buch";
    src: url("./fonts/TestSöhne-Buch.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Test Söhne Buch";
    src: url("./fonts/TestSöhne-BuchKursiv.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}

@theme {
    --font-sans: "Test Söhne Buch", ui-sans-serif, system-ui;
    --font-druk: "Druk Wide Medium";
}

@layer base {
    body {
        @apply font-sans;
    }

    button {
        @apply cursor-pointer;
    }
}